.buttonClass-delete{
    color: red;
}
.buttonClass{
    color: blue;
}
div.dataTables_wrapper div.dataTables_length select{
   padding: 5px !important; 
   height: 100px !important;

}

div.dataTables_wrapper div.dataTables_filter select, div.dataTables_wrapper div.dataTables_length select{
    padding: 5px !important; 
    height: 100px !important;
}