<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
      <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoImage  }}" alt="brand-logo" height="28" />
        <h2 class="brand-text text-primary ml-1">TaxBlock E-Invoicing</h2></a
      >
      <!-- /Brand logo-->
      <!-- Left Text-->
      <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          <img
            class="img-fluid"
            [src]="
              coreConfig.layout.skin === 'dark'
                ? 'assets/images/pages/forgot-password-v2-dark.svg'
                : 'assets/images/pages/forgot-password-v2.svg'
            "
            alt="Forgot password V2"
          />
        </div>
      </div>
      <!-- /Left Text-->
      <!-- Forgot password-->
      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <h2 *ngIf="!EnterNewPassword" class="card-title font-weight-bold mb-1">Forgot Password? 🔒</h2>
          <h2 *ngIf="EnterNewPassword" class="card-title font-weight-bold mb-1">Recover Account</h2>
          <p *ngIf="!EnterOTP" class="card-text mb-2">Please enter your email address. You will receive a link to create a new password via email.</p>
          <p *ngIf="EnterOTP && !EnterNewPassword" class="card-text mb-2">Please enter your OTP. You have received on your email.</p>
          <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div *ngIf="!EnterOTP ">
                <div class="form-group">
                    <label class="form-label" for="forgot-password-email">Email</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="email"
                      placeholder="john@example.com"
                      aria-describedby="forgot-password-email"
                      autofocus=""
                      tabindex="1"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block" (click)="onClickSendOTP()" tabindex="2" rippleEffect>Send OTP</button>
            </div>
            <div *ngIf="EnterOTP && !EnterNewPassword">
                <div class="form-group">
                    <label class="form-label" for="Enter OTP">Enter OTP</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="OTP"
                      placeholder="Enter Your OTP"
                      aria-describedby="otp"
                      autofocus=""
                      tabindex="1"
                      [ngClass]="{ 'is-invalid': submitted && f.OTP.errors }"
                    />
                    <div *ngIf="submitted " class="invalid-feedback">
                      <div *ngIf="f.OTP.errors.required">OTP is required</div>
                     
                    </div>
                  </div>
                  <button (click)="onClickVerifyOTP()" class="btn btn-primary btn-block" tabindex="2" rippleEffect>Verify OTP</button>
            </div>
          </form>
          <form class="auth-forgot-password-form mt-2" [formGroup]="enterNewPasswordForm" (ngSubmit)="onSavePass()">
            <div *ngIf="EnterNewPassword ">
                <div class="form-group">
                    <label class="form-label" for="Enter Password">Enter New Password</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="Password"
                      placeholder="Enter Your Password"
                      aria-describedby="Password"
                      autofocus=""
                      tabindex="1"
                      [ngClass]="{ 'is-invalid': submitted1 && f2.Password.errors }"
                    />
                    <div *ngIf="submitted1 " class="invalid-feedback">
                      <div *ngIf="f2.Password.errors.required">Password is required</div>
                     
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="Enter OTP">Confirm Password</label>
                    <input
                      class="form-control"
                      type="password"
                      formControlName="ConfirmPassword"
                      placeholder="Confirm Password"
                      aria-describedby="ConfirmPassword"
                      autofocus=""
                      tabindex="1"
                      [ngClass]="{ 'is-invalid': submitted1 && f2.ConfirmPassword.errors }"
                    />
                    <div *ngIf="submitted1 " class="invalid-feedback">
                      <div *ngIf="f2.ConfirmPassword.errors.required">Confirm Password is required</div>
                     
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Save</button>
            </div>
          </form>
          <p class="text-center mt-2">
            <a routerLink="/authentication/login"
              ><i data-feather="chevron-left" class="mb-25"></i> Back to login</a
            >
          </p>
        </div>
      </div>
      <!-- /Forgot password-->
    </div>
  </div>
  